<div class="header-pad">
  <div class="container">
    <% @posts.each do |p| %>
        <a href="/posts/<%= URI::escape p.title %>"><%= p.title %></a>
    <% end %>
  </div>
</div>

<%= render 'shared/footer' %>